{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="h-full bg-background">
<head>
    <title>WorkWise</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% tailwind_css %}
</head>
<body class="h-full cursor-none">
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 bg-gray-100">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-10 w-auto animate-spin-slow"
             src="https://cdn3.iconfinder.com/data/icons/feather-5/24/codesandbox-512.png"
             alt="Your Company">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight hover:text-indigo-600">Sign in to your
            account</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6" method="POST">
            {% csrf_token %}
            <div class="group">
                <label for="email"
                       class="icon block text-sm font-medium leading-6 group-hover:text-indigo-600 group-hover:font-bold cursor-none">Email
                    address</label>
                <div class="mt-2">
                    <input id="email" name="email" type="email" autocomplete="email" required
                           class="cursor-none block w-full rounded-md border-0 py-1.5 px-3 text-text shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6 group-hover:bg-gray-50">
                </div>
            </div>

            <div class="group">
                <div class="flex items-center justify-between">
                    <label for="password"
                           class="block text-sm font-medium leading-6 group-hover:text-indigo-600 group-hover:font-bold cursor-none">Password</label>
                    <div class="text-sm">
                        <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500 cursor-none ">Forgot
                            password?</a>
                    </div>
                </div>
                <div class="mt-2">
                    <input id="password" name="password" type="password" autocomplete="current-password" required
                           class="block cursor-none w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6 group-hover:bg-gray-50">
                </div>
            </div>

            <div>
                <button type="submit"
                        class=" flex cursor-none w-full justify-center rounded-md bg-black px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Sign in
                </button>
            </div>
        </form>

        <p class="mt-10 text-center text-sm text-gray-500">
            Not a member?
            <button id="open-modal-btn" class="cursor-none"><a href="#"
                                                               class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500 cursor-none">Sign
                up</a></button>
        </p>

        <div class="flex justify-center rounded-lg items-center align-center hidden inset-0 bg-gray-300 py-4 bg-opacity-20 overflow-y-auto h-full w-full border-2"
             id="my-modal">
            <p class="flex justify-center">Which describes you best?</p>
            <div class="flex justify-center space-x-1 p-4">
                <a href="{% url 'jobseeker_register' %}"
                   class="flex w-full justify-center rounded-md bg-black py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 hover:bg-indigo-600 cursor-none">
                    <button class="cursor-none">
                        job seeking
                    </button>
                </a>
                <a href="{% url 'employer_register' %}"
                   class="flex w-full justify-center rounded-md bg-black py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 cursor-none">
                    <button class="cursor-none">
                        recruitment
                    </button>
                </a>
            </div>
        </div>

        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>

        <script>
            const coords = {x: 0, y: 0};
            const circles = document.querySelectorAll(".circle");

            const colors = [
                "#000000",
            ];

            circles.forEach(function (circle, index) {
                circle.x = 0;
                circle.y = 0;
                circle.style.backgroundColor = colors[index % colors.length];
            });

            window.addEventListener("mousemove", function (e) {
                coords.x = e.clientX;
                coords.y = e.clientY;

            });

            function animateCircles() {

                let x = coords.x;
                let y = coords.y;

                circles.forEach(function (circle, index) {
                    circle.style.left = x - 12 + "px";
                    circle.style.top = y - 12 + "px";

                    circle.style.scale = (circles.length - index) / circles.length;

                    circle.x = x;
                    circle.y = y;

                    const nextCircle = circles[index + 1] || circles[0];
                    x += (nextCircle.x - x) * 0.2;
                    y += (nextCircle.y - y) * 0.2;
                });

                requestAnimationFrame(animateCircles);
            }

            animateCircles();
            let modal = document.getElementById("my-modal");

            let btn = document.getElementById("open-modal-btn");

            btn.onclick = function () {
                if (modal.style.display === 'block') {
                    modal.style.display = 'none'
                } else {
                    modal.style.display = 'block';
                }


            }

        </script>

    </div>
</div>
</body>
</html>